-box :class => "alt first_alt" do 
  %h3=:get_started.l
.yui-b
  -box do
    %h3=:tell_us_about_yourself.l
    = render :partial => 'shared/bio_help'
    %p
      =:remember_you_can_always_change_this_later.l
    %p
      = link_to "&raquo; " + :go_to_your_profile.l, user_path(@user)

  - if @user.avatar_photo_url
    -box do 
      %h3=:your_profile_photo.l
      = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
      = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid", :style=>"width:250px" )
      .all=link_to :profile_photo_crop.l, crop_profile_photo_user_path(@user)        

#yui-main
  -box :class => "yui-b" do
    - form_tag user_path(:welcome => 'invite'), :method => 'put', :multipart =>true, :class => "MainForm" do
      =render :partial => 'offerings/chooser'
      
      -box do 
        %h3
          =:choose_your_location.l
        = render :partial => 'shared/location_chooser', :locals => {:selected_county => @user.county_id, :selected_neighborhood => @user.neighborhood_id, :neighborhoods => @neighborhoods}\
        %br
        =:postal_code.l
        %br
        = text_field :user, :zip, :size => 6
        %br

      -box do
        %h3=:gender.l
        %fieldset
          %label
            = radio_button :user, :gender, User::MALE
            =:male.l
          %label
            = radio_button :user, :gender, User::FEMALE
            =:female.l

      %h3=:about_you.l
      = text_area :user, :description, :rows => 15,  :class => "rich_text_editor"
      .yui-u
        -box do 
          %h3= :tag_yourself.l
          = text_field_tag 'tag_list', @user.tag_list, {:autocomplete => "off"}
          #tag_list_auto_complete.auto_complete
          = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }
          %br
          %small
            =:comma_separated_keywords_that_describe_you.l
        %p= submit_tag "Create Profile"
